input[type="text"] {
width: 100%;
padding: 10px;
border: 2px teal;
border-radius: 4px;
margin-bottom: 10px;
}

button {
width: 100%;
box-sizing: border-box;
}

.w3-card {
background-color: #f2f2f2;
border-radius: 4px;
padding: 20px;
}

.row {
display: flex;
flex-wrap: wrap;
margin: 0 -10px;
}

.col {
flex: 1;
padding: 0 10px;
box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
.col {
  flex-basis: 50%;
}
}

@media only screen and (max-width: 480px) {
.col {
  flex-basis: 100%;
}
}


textarea {
  width: 100%;
  resize: none;
  /*font-family: 'Reenie Beanie', cursive;*/
  color: #000000;
  display: inline-block;
  vertical-align: top;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, transparent, transparent 19px, #E7EFF8 0px);
  background-image: -webkit-linear-gradient(top, transparent, transparent 19px, #E7EFF8 0);
  -webkit-background-size: 100% 20px;
  background-size: 100% 20px;
  box-shadow: 0 2px 5px 0 rgb(116 155 226 / 48%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 4px;
  margin-bottom: 8px;
}

.auto-filled-shadow {
  box-shadow: 0 2px 5px 0 rgb(103 58 183 / 48%), 0 2px 10px 0 rgb(0 0 0 / 12%)!important;
}

.auto-filled-border {
  border: solid 1px #e91e6380;
}

.auto-filled-border-bottom {
  border-bottom: solid 1px #e91e6380;
}

.info {
  padding-top: 16px;
  padding-left: 8px;
}
ma
.info>div>span {
  background-color: #FFFFFF;
  padding: 8px;
}

.label {
  font-weight: bold;
}

.status {
  display: inline-block;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: auto;
}