body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    }
header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
    }
header h1 a {
    color: red;
    text-decoration: none;
    }
.nav-left {
    margin-right: auto;
    }

.nav-right {
    display: flex;
    padding-top: 2rem;
    
    }
.nav-right ul li {
    display:inline-block;
    width:200px;
    height:50px;
    line-height:50px;
    margin:0px;
    padding:0px;
    background-color:#dddddd;
    text-align:center;
    }

.nav-right li:hover {
    background-color:#aaaaff;
  }

.character-entry {
    margin-bottom: 2rem;
    }
.character-entry h2 {
    margin: 0.5rem 0;
    }
.character-entry h2 a,
.character-entry h2 a:visited {
    color: blue;
    text-decoration: none;
    }
.character-entry p {
    margin: 0;
    font-weight: 400;
    }
.character-entry h2 a:hover {
        color: red;
        }
