{% extends "base.html" %} {% block content %}

      
      
<div class="character-entry">
<form action="" method="post"> {% csrf_token %}
    

<div id="div_id_char_name" class="mb-3"> <label for="id_char_name" class="form-label requiredField">
            Char name<span class="asteriskField">*</span> </label> <input type="text" name="char_name" maxlength="45" class="textinput textInput form-control" required="" id="id_char_name" value="{{charsheet.char_name}}"> </div> <div id="div_id_character_class" class="mb-3"> <label for="id_character_class" class="form-label requiredField">
            Character class<span class="asteriskField">*</span> </label> <select name="character_class" class="select form-select" id="id_character_class"> 
              {% for class in charsheet.character_classes %}
                {% if charsheet.character_class in class %}
                    <option value="{{ class.0 }}" selected="">{{class.0}}</option>
                {% else %}
                    <option value="{{ class.0 }}">{{class.0}}</option>
                {% endif %}
              {% endfor %}
</select> </div> <div id="div_id_classes" class="mb-3"> <label for="id_classes" class="form-label">
            Classes
        </label> <textarea name="classes" cols="40" rows="10" class="textarea form-control" id="id_classes">{{ charsheet.classes}}</textarea> </div> 
        <div id="div_id_diety" class="mb-3"> <label for="id_diety" class="form-label requiredField">
            Diety<span class="asteriskField">*</span> </label> <input type="text" name="diety" value="{{charsheet.diety}}" maxlength="45" class="textinput textInput form-control" required="" id="id_diety" placeholder="Pelor"> </div> <div id="div_id_charStr" class="mb-3"> <label for="id_charStr" class="form-label requiredField">
            CharStr<span class="asteriskField">*</span> </label> <input type="number" name="charStr" value="{{ charsheet.charStr }}" class="numberinput form-control" required="" id="id_charStr"> </div> <div id="div_id_charDex" class="mb-3"> <label for="id_charDex" class="form-label requiredField">
            CharDex<span class="asteriskField">*</span> </label> <input type="number" name="charDex" value="{{ charsheet.charDex }}" class="numberinput form-control" required="" id="id_charDex"> </div> <div id="div_id_charCon" class="mb-3"> <label for="id_charCon" class="form-label requiredField">
            CharCon<span class="asteriskField">*</span> </label> <input type="number" name="charCon" value="{{ charsheet.charCon }}" class="numberinput form-control" required="" id="id_charCon"> </div> <div id="div_id_charInt" class="mb-3"> <label for="id_charInt" class="form-label requiredField">
            CharInt<span class="asteriskField">*</span> </label> <input type="number" name="charInt" value="{{ charsheet.charInt }}" class="numberinput form-control" required="" id="id_charInt"> </div> <div id="div_id_charWis" class="mb-3"> <label for="id_charWis" class="form-label requiredField">
            CharWis<span class="asteriskField">*</span> </label> <input type="number" name="charWis" value="{{ charsheet.charWis }}" class="numberinput form-control" required="" id="id_charWis"> </div> <div id="div_id_charCha" class="mb-3"> <label for="id_charCha" class="form-label requiredField">
            CharCha<span class="asteriskField">*</span> </label> <input type="number" name="charCha" value="{{ charsheet.charCha }}" class="numberinput form-control" required="" id="id_charCha"> </div> 
            <div id="div_id_items" class="mb-3"> <label for="id_items" class="form-label">Items</label> <textarea name="items" cols="40" rows="10" class="textarea form-control" id="id_items">{{charsheet.items}}</textarea> </div> 
        <div id="div_id_hit_dice" class="mb-3"> <label for="id_hit_dice" class="form-label requiredField">Hit dice<span class="asteriskField">*</span> </label> <input type="number" name="hit_dice" class="numberinput form-control" value={{ charsheet.char_level }} required="" id="id_hit_dice" readonly> </div> 
        <div id="div_id_max_hp" class="mb-3"> <label for="id_max_hp" class="form-label requiredField">Max hp<span class="asteriskField">*</span> </label> <input type="number" name="max_hp" value={{charsheet.max_hp}} class="numberinput form-control" required="" id="id_max_hp"> </div> 
        <div id="div_id_current_hp" class="mb-3"> <label for="id_current_hp" class="form-label requiredField">Current hp<span class="asteriskField">*</span> </label> <input type="number" name="current_hp" value="{{charsheet.current_hp}}" class="numberinput form-control" required="" id="id_current_hp"> </div> <div id="div_id_temp_hp" class="mb-3"> <label for="id_temp_hp" class="form-label requiredField">
            Temp hp<span class="asteriskField">*</span> </label> <input type="number" name="temp_hp" value="0" class="numberinput form-control" required="" id="id_temp_hp"> </div> <div class="mb-3"> <div id="div_id_strength_proficiency" class="mb-3 form-check"> <input type="checkbox" name="strength_proficiency" class="checkboxinput form-check-input" id="id_strength_proficiency"> <label for="id_strength_proficiency" class="form-check-label">
                Strength proficiency
            </label> </div> </div> <div class="mb-3"> <div id="div_id_dexterity_proficiency" class="mb-3 form-check"> <input type="checkbox" name="dexterity_proficiency" class="checkboxinput form-check-input" id="id_dexterity_proficiency"> <label for="id_dexterity_proficiency" class="form-check-label">
                Dexterity proficiency
            </label> </div> </div> <div class="mb-3"> <div id="div_id_constitution_proficiency" class="mb-3 form-check"> <input type="checkbox" name="constitution_proficiency" class="checkboxinput form-check-input" id="id_constitution_proficiency"> <label for="id_constitution_proficiency" class="form-check-label">
                Constitution proficiency
            </label> </div> </div> <div class="mb-3"> <div id="div_id_wisdom_proficiency" class="mb-3 form-check"> <input type="checkbox" name="wisdom_proficiency" class="checkboxinput form-check-input" id="id_wisdom_proficiency"> <label for="id_wisdom_proficiency" class="form-check-label">
                Wisdom proficiency
            </label> </div> </div> <div class="mb-3"> <div id="div_id_intelligence_proficiency" class="mb-3 form-check"> <input type="checkbox" name="intelligence_proficiency" class="checkboxinput form-check-input" id="id_intelligence_proficiency"> <label for="id_intelligence_proficiency" class="form-check-label">
                Intelligence proficiency
            </label> </div> </div> <div class="mb-3"> <div id="div_id_charisma_proficiency" class="mb-3 form-check"> <input type="checkbox" name="charisma_proficiency" class="checkboxinput form-check-input" id="id_charisma_proficiency"> <label for="id_charisma_proficiency" class="form-check-label">
                Charisma proficiency
            </label> </div> </div> <div id="div_id_feats" class="mb-3"> <label for="id_feats" class="form-label">
            Feats
        </label> <textarea name="feats" cols="40" rows="10" class="textarea form-control" id="id_feats">null</textarea> </div> <div id="div_id_initiative" class="mb-3"> <label for="id_initiative" class="form-label requiredField">
            Initiative<span class="asteriskField">*</span> </label> <input type="number" name="initiative" value="0" class="numberinput form-control" required="" id="id_initiative"> </div> <div id="div_id_natural_armor" class="mb-3"> <label for="id_natural_armor" class="form-label requiredField">
            Natural armor<span class="asteriskField">*</span> </label> <input type="number" name="natural_armor" value="0" class="numberinput form-control" required="" id="id_natural_armor"> </div> <div id="div_id_speed" class="mb-3"> <label for="id_speed" class="form-label requiredField">
            Speed<span class="asteriskField">*</span> </label> <input type="number" name="speed" value="30" class="numberinput form-control" required="" id="id_speed"> </div> <div id="div_id_alignment" class="mb-3"> <label for="id_alignment" class="form-label requiredField">
            Alignment<span class="asteriskField">*</span> </label> <select name="alignment" class="select form-select" id="id_alignment"> <option value="NE">Neutral Evil</option> <option value="CE">Chaotic Evil</option> <option value="LE">Lawful Evil</option> <option value="NN" selected="">True Neutral</option> <option value="CN">Chaotic Neutral</option> <option value="LN">Lawful Neutral</option> <option value="NG">Neutral Good</option> <option value="CG">Chaotic Good</option> <option value="LG">Lawful Good</option>

</select> </div> <div id="div_id_background" class="mb-3"> <label for="id_background" class="form-label">
            Background
        </label> <textarea name="background" cols="40" rows="10" class="textarea form-control" id="id_background">Orphan who grew up on a farm...</textarea> </div> <div id="div_id_race" class="mb-3"> <label for="id_race" class="form-label requiredField">
            Race<span class="asteriskField">*</span> </label> <input type="text" name="race" value="{{ charsheet.race }}" maxlength="40" class="textinput textInput form-control" required="" id="id_race"> </div> <div id="div_id_exp" class="mb-3"> <label for="id_exp" class="form-label requiredField">
            Exp<span class="asteriskField">*</span> </label> <input type="number" name="exp" value="0" class="numberinput form-control" required="" id="id_exp"> </div> <div id="div_id_language_proficiency" class="mb-3"> <label for="id_language_proficiency" class="form-label">
            Language proficiency
        </label> <textarea name="language_proficiency" cols="40" rows="10" class="textarea form-control" id="id_language_proficiency"></textarea> </div> <div id="div_id_weapon_proficiency" class="mb-3"> <label for="id_weapon_proficiency" class="form-label">
            Weapon proficiency
        </label> <textarea name="weapon_proficiency" cols="40" rows="10" class="textarea form-control" id="id_weapon_proficiency">null</textarea> </div> <div id="div_id_armor_proficiency" class="mb-3"> <label for="id_armor_proficiency" class="form-label">
            Armor proficiency
        </label> <textarea name="armor_proficiency" cols="40" rows="10" class="textarea form-control" id="id_armor_proficiency">null</textarea> </div> <div id="div_id_attack_options" class="mb-3"> <label for="id_attack_options" class="form-label">
            Attack options
        </label> <textarea name="attack_options" cols="40" rows="10" class="textarea form-control" id="id_attack_options">null</textarea> </div> <div id="div_id_misc_features" class="mb-3"> <label for="id_misc_features" class="form-label">
            Misc features
        </label> <textarea name="misc_features" cols="40" rows="10" class="textarea form-control" id="id_misc_features">null</textarea> </div> <div id="div_id_spells_known" class="mb-3"> <label for="id_spells_known" class="form-label">
            Spells known
        </label> <textarea name="spells_known" cols="40" rows="10" class="textarea form-control" id="id_spells_known">null</textarea> </div>

<button class="btn btn-success ml-2" type="submit">Save</button></form></div>
<p>
  <a
    href="{% url 'character_update' author=charsheet.author pk=charsheet.pk %}"
  >
    + Update Character</a
  >
</p>
<p>
  <a
    href="{% url 'character_delete' author=charsheet.author pk=charsheet.pk %}"
  >
    + Delete Character</a
  >
</p>
<p>
  <a
    href="{% url 'character_details_testing' author=charsheet.author pk=charsheet.pk %}"
    >
      + testing html</a>
</p>

{% endblock content %}
